{% load static %}

<div class="row">
                    <div class="col-md-4">
                        <div class="service_item">
                            <img class="img-fluid" src="{%static 'images/service_img1.png'%}" width="300" height="250" alt="Our Services">

                            <a href="{%url 'markalar'%}" class="btn know_btn">Daha Fazlası</a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="service_item">
                            <img class="img-fluid" src="{%static 'images/service_img2.png'%}" width="300" height="250" alt="Our Services">
                            <a href="{%url 'markalar'%}" class="btn know_btn">Daha Fazlası</a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="service_item">
                            <img class="img-fluid" src="{%static 'images/service_img3.png'%}" width="300" height="250" alt="Our Services">
                            <a href="{%url 'markalar'%}" class="btn know_btn">Daha Fazlası</a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="service_item">
                            <img class="img-fluid" src="{%static 'images/service_img4.png'%}" width="300" height="250" alt="Our Services">
                            <a href="{%url 'markalar'%}" class="btn know_btn">Daha Fazlası</a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="service_item">
                            <img class="img-fluid" src="{%static 'images/service_img5.png'%}" width="300" height="250" alt="Our Services">
                            <a href="{%url 'markalar'%}" class="btn know_btn">Daha Fazlası</a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="service_item">
                            <img class="img-fluid" src="{%static 'images/service_img6.png'%}" width="300" height="250" alt="Our Services">
                            <a href="{%url 'markalar'%}" class="btn know_btn">Daha Fazlası</a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="service_item">
                            <img class="img-fluid" src="{%static 'images/service_img7.png'%}" width="300" height="250" alt="Our Services">
                            <a href="{%url 'markalar'%}" class="btn know_btn">Daha Fazlası</a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="service_item">
                            <img class="img-fluid" src="{%static 'images/service_img8.png'%}" width="300" height="250" alt="Our Services">
                            <a href="{%url 'markalar'%}" class="btn know_btn">Daha Fazlası</a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="service_item">
                            <img class="img-fluid" src="{%static 'images/service_img9.png'%}" width="300" height="250" alt="Our Services">

                            <a href="{%url 'markalar'%}" class="btn know_btn">Daha Fazlası</a>
                        </div>
                    </div>


                </div>
